$color-primary:#F62F5E;
$color-secondary:#2e2e2e;
$color-tertiary:#fff;
// $color-secondary:#F62F5E;
// $color-tertiary:#F62F5E;


//typography colors

$color-text-dark:#2e2e2e;
$color-text-white:#fff;
$color-text-light-grey:#b4b4b4;
$color-text-dark-grey:#6c6c6c;

//document colors

$color-doc-blue:#6eb2fb;
$color-doc-white:#f7f7f7;
$color-doc-light-yellow:#EFFC90;
$color-doc-dark-yellow:#F1AD3D;
$color-doc-teal:#00D3CA;

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;