body {
    line-height: 150%;
    font-family: "Montserrat", "Open Sans";
    font-weight: 400;
}

.heading-secondary {
    color: $color-text-dark;
    font-family: Montserrat;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: .1rem;
    text-align: center;
    text-transform: capitalize;
    color: #2e2e2e;
}

.heading-tertiary {
    color: $color-text-dark;
    font-family: Montserrat;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    text-transform: capitalize;
    color: #2e2e2e;
}